* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.App {
	padding: 1rem;
	display: flex;
	justify-content: space-between;
}
#sidebar {
	width: 20%;
	height: 100%;
	position: sticky;
	top: 0;
	z-index: 1;
}
#pages {
	width: 80%;
	/* text-align: center; */
}
.drawer{
	display: none;
}
@media screen and (max-width:1050px) {
	#sidebar {
		display: none;
	}
	.drawer{
		display: block;
	}
	#pages {
		width: 100%;
		/* text-align: center; */
	}
}